# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Test data directory
core/testdata/
keystore/testdata/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE files
.idea

# MacOS
.DS_Store

# build
build/

# report
report/

# vendor
vendor/

# execution output
data/
logs/

# custom key and settings
network.key
private.key
*.key
custom.conf

*.http